/***** Root *****/

:root {
  /* color */
  --white-color: #f5f5f5;
  --black-color: #121212;
  --primary-color: #1b1b1b;
  --primary-color-gradient: ;
  --secondary-color: ;
  --secondary-color-gradient: ;
  --tertiary-color: ;
  --tertiary-color-gradient: ;
  --quaternary-color: ;
  --quaternary-color-gradient: ;

  --hover-color: #4c5e7f;
  --hover-secondary-color: #313131;

  --primary-font-color: #f5f5f5;
  --secondary-font-color: #80adff;
  --shadow-color: #cccccc;
  /* size */
  --nav-width: 70rem;
  --border-radius: 4px;
  /* font & size */
}

/***** Icon *****/

.arrow {
  border: solid var(--white-color);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-bottom: 0.25rem;
  box-shadow: 2px 1px 1px #e16acf;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  /*   오래된 브라우저를 지원해야 할 수도 있기 때문 */
}

.right {
  transform: rotate(-45deg);
}

.white {
  border-color: white;
}

.submenu-icon {
  background-color: white;
  height: 2rem;
  margin-right: 0.75rem;
  position: relative;
  width: 0.2rem;
}

.chick {
  background-color: rgb(228, 181, 29);
}

.chicken {
  background-color: rgb(221, 49, 49);
}

/***** Basic Structure *****/

body,
html,
ul {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

section,
h1,
h2,
h3,
div {
  margin: 0;
  padding: 0;
  font-size: inherit;
}

body {
  background-color: gray;
  min-height: 100vh;
  overflow-x: hidden;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.opacity-visible {
  opacity: 1;
}

.opacity-hidden {
  opacity: 0;
}

/***** Header *****/

/* Nav */
.nav-box {
  z-index: 1000;
  background: var(--primary-color);
  position: fixed;
  top: 0;
  width: 100%;
  height: 4.5rem;
  padding: 0 2rem;
  box-shadow: 0 1px 0.2rem var(--shadow-color);
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  opacity: 0.9;
  align-items: center;
}

.nav-contents-box {
  max-width: var(--nav-width);
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
}

.nav-logo {
  font-size: 2rem;
  font-weight: 700;
}

.nav-menu {
  font-size: 1.5rem;
  font-weight: 400;
  display: flex;
  gap: 0.5rem;
  margin: 0;
  padding: 0;
}

.nav-box a {
  color: var(--primary-font-color);
  transition: color 0.2s ease;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.nav-menu li {
  padding: 0.5rem;
  border-radius: var(--border-radius);
  transition: background-color 0.2s ease;
}

.nav-menu li:hover {
  background-color: var(--hover-color);
}

.nav-menu li:hover a {
  color: var(--secondary-font-color);
}

.nav-menu .dropdown:hover .dropdown-contents a {
  color: inherit; /* 색상 상속, 원래 색상 유지 */
}

/* Dropdown */
.dropdown,
.sub-dropdown {
  position: relative;
}

.dropdown-contents,
.sub-dropdown-contents {
  /* display: none; */
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease;
  z-index: 1;
  background-color: var(--primary-color);
  position: absolute;
  font-weight: 400;
  color: var(--primary-font-color);
  border: 1px solid var(--shadow-color);
  border-radius: var(--border-radius);
  min-width: 100%;
  max-width: 20rem;
  padding: 0.5rem;
}

.dropdown-contents {
  top: calc(100% + 0.5rem);
  left: 0;
}

.sub-dropdown-contents {
  top: -0.5rem;
  left: calc(100% + 0.7rem);
  min-width: inherit;
}

/* Nav 메뉴와 Dropdown 사이 간격 띄우기 (호버 끊김 방지) */
.dropdown:hover .dropdown-contents::before {
  content: "";
  display: block;
  height: 0.5rem;
  top: -0.5rem;
  left: 0;
  position: absolute;
  width: 100%;
  /*   background-color: green; */
}

/* Dropdown 1차와 2차 사이 간격 띄우기 (호버 끊김 방지) */
.sub-dropdown:hover .sub-dropdown-contents::before {
  content: "";
  display: block;
  top: 0;
  left: -0.2rem;
  position: absolute;
  width: 0.2rem;
  height: 100%;
  /*   background-color: green; */
}

.dropdown-contents li a {
  display: flex;
  padding: 0.5rem;
  align-items: center;
  /*   box-sizing: border-box; */
  /* ul padding 떄문에 hover가 중간에 끊기는 문제가 있어서 box-sizing 넓힘 */
}

.sub-dropdown-contents li a {
  box-sizing: border-box;
}

.dropdown-contents li,
.sub-dropdown-contents li {
  color: var(--primary-font-color);
  white-space: nowrap;
  /*   overflow: hidden; */
  text-overflow: ellipsis;
  padding: 0;
  width: auto;
}

.dropdown-contents li,
.sub-dropdown-contents li {
  background-color: var(--primary-color);
}

.dropdown:hover .dropdown-contents,
.sub-dropdown:hover .sub-dropdown-contents {
  opacity: 1;
  visibility: visible;
}

.dropdown-contents li:hover,
.sub-dropdown-contents li:hover {
  background-color: var(--hover-secondary-color);
  color: var(--secondary-font-color);
}

.dropdown-contents li:hover a,
.sub-dropdown-contents li:hover a {
  color: var(--secondary-font-color);
}

/***** Fixed Back to Top Button *****/

#top-btn {
  /* display: none; */ /* 디폴트로 감추기 */
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease;
  position: fixed;
  bottom: 1.5rem;
  right: 2rem;
  z-index: 100;
  border: none;
  outline: none;
  background-color: var(--primary-color);
  color: white;
  cursor: pointer;
  padding: 1.25rem;
  border-radius: 10px;
  font-size: 1.25rem;
}

#top-btn:hover {
  background-color: var(--hover-color);
  color: var(--secondary-font-color);
}

/* @media */
/* 구현필요 */
/* ex) 1500px 이하일땐 dropdown 좌측으로 */
/* ex) 모바일 사이즈일땐 Icon을 활용한 사이드바 */
