/***** Font *****/

/***** Root *****/

:root {
  /* color */
  --white-color: white;
  --black-color: black;
  --primary-color: #f2cb3f;
  --primary-color-gradient: ;
  --secondary-color: #3FB95A;
  --secondary-color-gradient: ;
  --tertiary-color: #9A3C3C;
  --tertiary-color-gradient: ;
  --quaternary-color: #4244FF;
  --quaternary-color-gradient: ;

  --font-color: ;
  /* size */
  --nav-width: 70rem;
  /* font & size */
}

/***** Icon *****/

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
/*   오래된 브라우저를 지원해야 할 수도 있기 때문 */
}

.right {
  transform: rotate(-45deg);
}

/***** Basic Structure *****/

body,html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/***** Header *****/

nav {
  z-index: 1000;
  background: var(--black-color);
  position: fixed;
  top: 0;
  width: 100%;
  height: 4.5rem;
  padding: 0 2rem;
  box-shadow: 0 1px 0.3rem #cccccccc;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  opacity: 0.9;
  align-items: center;
}

#nav-box {
  max-width: var(--nav-width);
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

#logo {
  font-size: 2rem;
  font-weight: 700;
}

#nav-menu {
  font-size: 1.5rem;
  font-weight: 400;
  display: flex;
  gap: 2rem;
}

nav a {
  color: white;
}

/***** Main *****/

main {
  margin-top: 4.5rem;
}